﻿@charset "utf-8";


/* 
    CIT3064
    Author: Elvia Del Toro
    Date: 02/24/2021
*/

/* Key Frame Styles */

/* Cookie Image Rotation Styles */
section#rotatingImage {
  float: right;
   
}

.rotate {
    width: 80px;
    height: 80px;
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Footer Color Changing Styles */


@keyframes bgcolor {
    0% {
        background-color: #598a8d
    }

    30% {
        background-color: #72a3a6
    }

    60% {
        background-color: #905d5d
    }

    90% {
        background-color: #996666
    }

    100% {
        background-color: #8d5c59
    }
}

footer {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 4s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/* Motion of an Object Styles */
.rotate2 {
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove 5s infinite;
    animation-delay: 2s;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 200px;
    }
}