﻿@charset "utf-8";

/* 
    CIT3064
    Author: Elvia Del Toro
    Date: 02/24/2021
*/



/* Audio and Video Player Styles */

audio, video {
    box-shadow: rgb(51, 51, 51) 8px 8px 15px;
    display: block;
    margin: 10px auto;
    width: 40%;
}