/*
  CIT3064
    Elvia Del Toro
    Feb 20,2021

*/

/* Form Layout Styles */

form {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   width: 100%;
}

form > div {
    padding-left: 95px;
}
fieldset {
    background-color: rgb(107, 55, 48);
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    margin: 10px;
    color: white;
    width: 100%
}

div {
   margin: 5px;
   width: 100%;
}

legend {
    color: rgb(113, 6, 6);
    border: double 5px rgb(49, 32, 17);
    background-color: rgb(240, 190, 160);
    padding: 5px 5px;
    text-align: center;
    width: 150px;
}

label {
   display: inline-block;
   width: 120px;
}


fieldset#pickupInfo label, fieldset#deliveryInfo label {
   margin-bottom: 10px;
   width: 100%;
}

fieldset > div > textarea {
    display: block;
    width: 90%;
    height: 200px;
    padding: 5px 10px 5px 20px;
}

input[type="submit"] {
    height: 50px;
    width: 200px;

}

fieldset > div > label {
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    text-align: right;
}

fieldset > div > input {
    padding-left: 10px;
    padding-right: 10px;
    width: 10%;
}

