﻿@charset "utf-8";
@font-face {
    font-family: Quicksand;
    src: url('Quicksand-Regular.woff') format('woof'), 
         url('ch_fonts/Valeria - Medium.ttf') format('truetype');
}


/*
    CIT3064
    Author: Elvia Del Toro
    Date: 02/13/2021
*/


/* HTML & Body Styles */

html {
    background-image: url('cookie_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

body {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    background-color: white;
    opacity: 85%;
    font-family: 'Valeria - Medium';
    line-height: 1;
}


/* Header Styles */

body > header > img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

h1 {
    font-size: 3.2em;
    color: rgb(113, 6, 6);
    font-family: 'Valeria - Medium';
    text-align: center;
    padding: 40px 10px 0px 10px;
}

 h3 {
    top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0px;
    color: rgba(0, 0, 0, 1);
} 

 /* Paragraph Styles */
section#history {
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    padding: 25px 25px 25px 25px
}
p {
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

/* Horizontal Navigation List Styles */
body > header > nav.horizontalNavigation ul li {
    display: block;
    float: left;
    width: 25%;
    align-items: center;
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

nav.horizontalNavigation a {
    background-color: rgb(107, 55, 48);
    color: rgb(255, 216, 0); 
    display: block;
    font-size: 10em;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
    text-shadow: rgba(0, 0, 0, 1) 1px -1px 1px;
    transition: color 1.5s ease-in 0.5s,
                font-size 2s ease,
                letter-spacing 2s ease-out, 
                cubic-bezier(0.6, 0, 0.8, 0.5);
}

nav.horizontalNavigation a:hover {
    color: white;
    text-decoration: underline;
    letter-spacing: 0.1em;
    text-shadow: rgba(0, 0, 0, 0.5) 15px -3px 8px
}

div {
    margin: 0px;
    padding: 10px 10px 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

    /* Clock Styles */
div#todaysDate {
    color: rgb(113, 6, 6);
    padding-left: 50px;
}

html, header, footer, nav, nav a, ul, li, fieldset {
    margin: 0px;
    padding: 0px;
    border: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Left Column Styles */
section#leftColumn {
    float: left;
    width: 65%;
}
section#leftColumn2 {
    float: left;
    width: 50%;
}


section#leftColumn4 {
    float: left;
    width: 80%;
    height: 100%;
}

section#leftColumn4 h1 {
    padding-left: 200px;
    padding-top: -200px;
}
section#leftColumn p {
    color: black;
    line-height: 1.6em;
    float: left;
    font-size: 1.1em;
    width: 80%;
}
section#leftColumn3 p {
    color: black;
    line-height: 1.6em;
    float: left;
    font-size: 1em;
    width: 75%;
} 

section#leftColumn2 div > img {
    height: 100%;
    width: 100%;
    padding-left: 50px;
}

/* Right Column Styles */
section#rightColumn {
    height: 50%;
    float: left;
    width: 30%;
}
section#rightColumn2 {
    height: 50%;
    float: left;
    width: 50%;
}

section#clockTime {
    float: left;
    padding-left: 95px;
    width: 40%;
}
section#rightColumn div > img {
    height: 50%;
    width: 100%;
}

section#rightColumn2 div > img {
    height: 50%;
    width: 80%;
    padding-left: 70px;
}

div#pic2 {
    height: 100%;
    width: 90%;
}


/* Main Styles */

main {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
}

main ul {    
    text-align: left;
    line-height: 2.0em;
    margin-top: 40px;
    padding: 5px 5px 5px 10px;
    
}

/* Video Styles */
section#pfarmVideo {
    margin: 10px 10px 10px 10px;
    padding: 40px;
    width: 80px;
}


/* Footer Styles */
body > footer {
    width: 100%;
    clear: left;
    background-color: rgb(107, 55, 48);
    color: white;
    font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
    text-align: center;
}

