﻿@charset "utf-8";

/*
   CIT 3064
    Author: Elvia Del Toro
    Date: 02/27/2021

*/


/* General Flex Styles */

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


/* New Styles Added Below */
/* ==============================
    Mobile Styles: 0px to 480px
   ==============================
*/
@media only screen and (max-width: 480px) {}
    nav.horizontalNavigation a {
        font-size: 1.5em;
        line-height: 2.2em;
    }

/* ==============================
    Tablet Style: 481px and greater
   ==============================
*/
@media only screen and (min-width: 481px) {}
   
/* ==============================
    Dekstop Styles: 769px and greater
   ==============================
*/
@media only screen and (min-width: 769px) {}
   
