﻿@charset "utf-8";

/*
  
   Author: Elvia Del Toro
   Date:   02/05/2021

*/

/* Table Styles */


table.schedule {
    background: white;
    border: 3px outset rgb(194, 104, 0);
    border-collapse: collapse;
    font-size: 0.75em;
   margin: 25px 25px 25px 25px;
   float: right;
    width: 75px;

}
    /* Table Cell Styles */
    table.schedule th, table.schedule td {
        border: 1px solid black;
        padding: 5px;
        vertical-align: top;
    }


    /* Table Caption Styles */
    table.schedule caption {
        caption-side: bottom;
        text-align: right;
    }


    /* Row Group Styles */
    table.schedule thead {
        background: rgb(107, 55, 48);
        color: white;
    }

    table.schedule tfoot {
        background: black;
        color: white;
    }

    table.schedule thead tr {
        height: 30px;
    }

    table.schedule tbody tr {
        height: 40px
    }

/* Column Group Styles */
col#firstcol {
    background: rgb(218, 210, 218);
    width: 16%;
}

col.daycols {
    background: rgb(240, 190, 160);
    width: 12%;
}