/*
 
   Author: Elvia Del Toro
   Date:   02/22/2021
*/


/* Form validation Styles */

input#zipBox:focus:valid,
input#emailBox:focus:valid,
input#phoneBox:focus:valid {
    background: rgb(220, 255, 220) url('rb_okay.png') right/contain no-repeat;
}

input#zipBox:focus:invalid,
input#emailBox:focus:invalid,
input#phoneBox:focus:invalid {
    background: rgb(255, 230, 230) url('rb_warning.png') right/contain no-repeat;
}